*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}
header p {
    margin-top: 10px;
    font-size: 18px;
}
header h1 {
    font-size: 45px;
}

nav {
    margin-top: 20px;    
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;  
    margin: 25px;  
}
.menu li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}
.menu li a:hover {
    color: #00ff88;
}
.menu i {
    font-size: 22px;
}
.menu i:hover {
    color: #00ff88;
}

.pesquisar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;    
}
.pesquisar input {
    width: 350px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.pesquisar button {
    padding: 12px 20px;
    border: none;
    background: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.pesquisar button:hover {
    background: darkgreen;
}

.produtos {    
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
   
}

.produto {
    background: white;
    position: relative;
    width: 320px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.produto img {
    width: 100%;
    height: 280px;
    object-fit: contain;
}
.produto:hover {
    transform: translateY(-8px);
}
.produto h2 {
    margin: 15px 0;
}

.badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: red;
    color: white;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.avaliacao {
    color: gold;
    font-size: 20px;
    margin-bottom: 10px;
}

.newsletter {
    background: black;
    color: white;
    text-align: center;
    padding: 50px 20px;
    margin-top: 40px;
}
.newsletter h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
.newsletter p {
    margin-bottom: 20px;
    color: #ccc;
}
.newsletter-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.newsletter-box input {
    width: 300px;
    padding: 14px;
    border: none;
    border-radius: 5px;
}
.newsletter-box button {
    padding: 14px 20px;
    border: none;
    background: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.newsletter-box button:hover {
    background: darkgreen;
}

.preco {
    font-size: 24px;
    font-weight: bold;
    color: green;
    margin-bottom: 10px;
}

.btn-comprar {
    background-color: green;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 6px;
}
.btn-comprar:hover {
    background-color: darkgreen;
}
.btn-detalhes {
    background: #333;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 6px;
}
.btn-detalhes:hover {
    background: black;
}

.carrinho {
    padding: 25px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.8);
    width: 95%;
    background: white;
    border: 1px solid #eee;
}
.carrinho h2 {
    margin-bottom: 20px;    
    font-size: 28px;
    color: #222;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 10px;
}

#lista-carrinho {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#lista-carrinho li {
    color: #444;
    list-style: none;
    padding: 15px;
    background: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #eee;
    font-size: 16px;
}

.total {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: green;
}

.banner {
    text-align: center;
    padding: 30px;
    background: #fff;
    margin: 20px;
    border-radius: 10px;
}
.banner h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.banner p {
    color: #666;
    font-size: 18px;
}

.categoria {
    background: white;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.categoria:hover {
    background: black;
    color: white;
    transform: scale(1.05);
}
.categorias {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
   
    justify-content: center;
    align-items: center;

    padding: 20px;
}
.modal-conteudo {
    background: white;
    width: 90%;
    max-width: 500px;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    position: relative;  
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);      
}
.modal-conteudo img {
    width: 100%;
    max-width: 280px;
    height: 280px;
    object-fit: contain;
    margin-bottom: 20px;
}
.modal-conteudo h2 {
    margin-top: 10px;
    font-size: 32px;
    color: #222;
}
.modal-preco {
    color: green;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px 0;
}
.modal-conteudo p {
    font-size: 17px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.fechar {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 32px;
    cursor: pointer;
    font-weight: bold;
    color: #444;
}
.fechar:hover {
    color: red;
    transform: scale(1.2);
}




footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}
.redes-sociais {
    margin-top: 20px;
}
.redes-sociais a {
    color: white;
    font-size: 25px;
    margin: 0 15px;
    transition: 0.3s;
}
.redes-sociais a:hover {
    color: #00ff88;
}










@media (max-width: 768px) {
    .produtos {
        flex-direction: column;
        align-items: center;
    }

    .produto {
        width: 90%;
    }
}


@media (max-width: 600px) {

    .modal-conteudo {
        width: 95;
        padding: 20px;
        border-radius: 15px;
    }

    .modal-conteudo img {
        width: 100%;
        max-width: 220px;
        height: 220px;
    }

    .modal-conteudo h2 {
        font-size: 24px;
    }

    .modal-conteudo p {
        font-size: 15px;
        line-height: 1.5;
    }

    .btn-comprar {
        padding: 14px;
        font-size: 16px;
    }

    .fechar {
        font-size: 28px;
        top: 10px;
        right: 15px;
    }
}





 @keyframes aparecer {
        from {
            opacity: 0;
            transform: scale(0.8);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }